/* #region Essentials */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgTop: #009688;
    --bgBottom: #DBDBD2;
    --barTop: #EAEAEA;
    --alert: #8EDAFC;
}

.clearfix {
    clear: both;
    display: table;
    content: "";
}

.f_l {
    float: left;
}

/* #endregion */

/* #region Background */

.backTop {
    width: 100%;
    height: 125px;
    background-color: var(--bgTop);
}

.backBot {
    width: 100%;
    height: calc(100vh - 125px);
    background-color: var(--bgBottom);
}

/* #endregion */

main {
    /* This is intentional    
    */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.widget {
    width: calc(100% - 144px);
    height: 800px;
    /* This is temporary*/
    background-color: cornflowerblue;
    margin: auto;
    margin-top: 20px;
}

.head {
    width: 100%;
    height: 105px;
    background-color: var(--barTop);
}

.mainUser {
    width: 497px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userImg>img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-left: 1rem;
}

.userData {
    display: flex;
    height: 105px;
    align-items: center;
}

.icons {
    width: 200px;
    display: flex;
    justify-content: space-between;
}